<div class="gradient-5 text-white font-bold !text-[.75rem] mb-2 !relative" style="z-index: 1;">
    <div class="container py-2 !text-center">
      <p class="!mb-0">✨ Vue3 + Nuxt3 Version of Sandbox is released! Grab a copy <a
          href="https://themeforest.net/item/sandbox-modern-multipurpose-vuejs-3-template/51099016"
          class="!text-white hover inline-flex items-center" target="_blank">here <i
            class="uil uil-arrow-up-right before:content-['\e950']"></i></a></p>
    </div>
    <!-- /.container -->
</div>