<li class="nav-item">
    <a class="nav-link !text-[.85rem] !tracking-[normal] hover:!text-[#605dba] after:!text-[#605dba]"
      href="/kategorien">Kategorien</a>
</li>
<li class="nav-item">
  <a class="nav-link !text-[.85rem] !tracking-[normal] hover:!text-[#605dba] after:!text-[#605dba]"
    href="/sponsoren">Sponsoren</a>
</li>
<li class="nav-item">
  <a class="nav-link !text-[.85rem] !tracking-[normal] hover:!text-[#605dba] after:!text-[#605dba]"
    href="/information">Informationen</a>
</li>